In [2]:
import pandas as pd 
import numpy as np 

from pandas import Series, DataFrame

In [3]:
np.random.seed(25)
# função utilizada para gerar a semente do gerador de números aleatórios em npy.

# criando os indices (linhas) e as colunas com os dados.

indice = [ 'linha 1', 'linha 2', 'linha 3', 'linha 4','linha 5', 'linha 6']
colunas = ['coluna 1', 'coluna 2', 'coluna 3', 'coluna 4', 'coluna 5', 'coluna 6']

df = DataFrame(np.random.rand(36).reshape((6,6)),
               
## definindo o objeto 'df' como DataFrame 
# np.random.rand(n) cria uma matriz de algoritmo aleatório 
# 'n' é a quantidade de valores 
# reshape 'reorganiza' os dados -> ((6,6)) significa: 6 linhas, 6 colunas

index=indice,
columns=colunas)

# invocando o objeto 'df'

df

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
linha 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
linha 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
linha 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
linha 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
linha 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [4]:
# execultando comparações entre o nosso DataFrame e um randon value. 
# quais valores nesse 'df' são menores do que .2? 

df < .2 

# me retorna um dataframe booleano (true ou false)
# o python execultou para cada número uma comparação

         coluna 1  coluna 2  coluna 3  coluna 4  coluna 5  coluna 6
linha 1     False     False     False      True     False      True
linha 2     False     False     False     False     False      True
linha 3     False     False      True     False     False     False
linha 4     False     False     False     False     False     False
linha 5     False     False      True     False     False     False
linha 6     False     False     False     False     False     False

In [7]:
# utilizando comparações para criar filtros 

indice = ['linha 1', 'linha 2', 'linha 3', 'linha 4',
          'linha 5', 'linha 6', 'linha 7', 'linha 8']

series_obj = Series(np.arange(8), index=indice)

# np.arange(8) = retorna valores uniformemente espaçados dentro de um determinado intervalo.

In [8]:
filtro = series_obj > 6 
series_obj[filtro]

linha 8    7
dtype: int64

In [10]:
# atualizando valores 
series_obj['linha 1', 'linha 5', 'linha 7'] = 8 
series_obj 

# a esquerda: ídices, a direita: valores atualizados.

linha 1    8
linha 2    1
linha 3    2
linha 4    3
linha 5    8
linha 6    5
linha 7    8
linha 8    7
dtype: int64