In [ ]:
# valores em branco com Python:
# por padrão, valores em brancos são vistos como NaN

In [1]:
import numpy as np 
import pandas as pd 

from pandas import Series, DataFrame

In [2]:
# o numpy possui um objeto que define valores em branco (NaN)

white_file = np.nan 

serie = Series(['linha 1', 'linha 2', white_file, 'linha 4', 'linha 5', white_file, 'linha 6', white_file, 'linha 8'])

serie

0    linha 1
1    linha 2
2        NaN
3    linha 4
4    linha 5
5        NaN
6    linha 6
7        NaN
8    linha 8
dtype: object

In [3]:
serie.isnull()

# compara os números e aponta 'true' para valores vazios

0    False
1    False
2     True
3    False
4    False
5     True
6    False
7     True
8    False
dtype: bool

In [7]:
np.random.seed(25)
# gerando 36 valores aleatórios
df = DataFrame(np.random.rand(36).reshape(6,6))

# invocando o objeto 'df'
# trocando seus valores 
#df[3:5, 0] = da linha 3 até a linha 5, na coluna 0 irá ser 'shite_file' (NaN)

df[3:5, 0] = white_file 
df[1:4, 5] = white_file

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [9]:
# .loc = acessa um grupo de linhas e colunas por rótulo(s) ou uma matriz booleana.

df.loc[3:5, 0] = white_file 
df.loc[1:4, 5] = white_file 

df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [11]:
# preencher os valores NaN com o método .fillan

df_full = df.fillna(0)
df_full

# NaN foi preenchido com '0'

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.000000
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.000000
3  0.000000  0.836375  0.481343  0.516502  0.383048  0.000000
4  0.000000  0.559053  0.034450  0.719930  0.421004  0.000000
5  0.000000  0.900274  0.669612  0.456069  0.289804  0.525819

In [12]:
dicio = {0: 0.1, 5: 1.25}
# dicionarios em python: coleção com elementos chave-valor
# semelhante ao objeto em JS
df_full = df.fillna(dicio)

df_full

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  1.250000
2  0.447031  0.585445  0.161985  0.520719  0.326051  1.250000
3  0.100000  0.836375  0.481343  0.516502  0.383048  1.250000
4  0.100000  0.559053  0.034450  0.719930  0.421004  1.250000
5  0.100000  0.900274  0.669612  0.456069  0.289804  0.525819

In [ ]:
# contando e removendo elementos NaN

In [15]:
white_file = np.nan 
np.random.seed(25)
df = DataFrame(np.random.rand(36).reshape(6,6))
df.loc[3:5, 0] = white_file 
df.loc[1:4, 5] = white_file 

df

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366       NaN
2  0.447031  0.585445  0.161985  0.520719  0.326051       NaN
3       NaN  0.836375  0.481343  0.516502  0.383048       NaN
4       NaN  0.559053  0.034450  0.719930  0.421004       NaN
5       NaN  0.900274  0.669612  0.456069  0.289804  0.525819

In [16]:
# contando os valores em branco com:
# .isnull() = identificar os valores em branco
# .sum() = fazer a soma de todos os valores em branco e retornar um numero

df.isnull().sum()

# coluna 0 = 3 valores NaN
# coluna 5 = 4 valores NaN

0    3
1    0
2    0
3    0
4    0
5    4
dtype: int64

In [18]:
# removendo valores em branco com:
# .dropna()

df.dropna()

# ele me retorna todas as colunas apagadas
# dessa forma, resultando um erro
# para utilizar um filtro no drop: 

# dropna(axis=1)

          0         1         2         3       4         5
0  0.870124  0.582277  0.278839  0.185911  0.4111  0.117376

In [20]:
df.dropna(axis=1)

# um novo DataFrame que não apresenta colunas com valores em branco

          1         2         3         4
0  0.582277  0.278839  0.185911  0.411100
1  0.437611  0.556229  0.367080  0.402366
2  0.585445  0.161985  0.520719  0.326051
3  0.836375  0.481343  0.516502  0.383048
4  0.559053  0.034450  0.719930  0.421004
5  0.900274  0.669612  0.456069  0.289804